<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <%= link_to "コラボ部屋を作成する", new_chat_path %>
  </div>
</div>

<div class="rooms">
  <% current_user.chats.each do |chat| %>
    <div class="room">
      <div class="room-name">
        <a href="#"><%= chat.name %></a>
      </div>
    </div>
  <% end %>
</div>