<div class="game-image">
  <<%= image_tag "game.png", class:"top-image" %>
</div>
  <div class="wrapper">
    <div class="side-bar">
      <%= render "side_bar" %>
     </div>
    <%# <div class="chat">
      <%= render "main_chat" %> 
  </div>
</div>
