<div class="game-image">
  <img src="images/boy.png" alt="トップ画面" class="top-image">
</div>
  <div class="wrapper">
    <div class="side-bar">
      <%= render "side_bar" %>
     </div>
    <div class="chat">
      <%= render "main_chat" %>
  </div>
</div>
